body{
    margin: 0;
    padding:0;
    background : url(download.jpg);
    opacity: 10;
    background-size: 100vh;
    background-position: center;
   
    
}
header {
  background-color: #685656;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  font-style: var(bold);
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px black;
  text-align: center;
  position: fixed;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* Styling header */
.header {
  text-align: center;
  color: #fff;
  padding: 20px;
}

.main{
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

  .content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }


.description p {
  font-size: 16px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



.collection {
  margin-top: 30px;
}

.collection h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.collection p {
  font-size: 14px;
}

footer {
  width: 100%;
  height: 20px;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: o;
  bottom: 0;
  width: 100%;
}